# Data Types 
## 1) $integer$

#NUMBER SYSTEM
- decimal
- binary
- octal
- hexa

##binary
- bi means 2
- so the base is also 2
- so 2 digits are used : 0 and 1
- representation: 0b<combination of 0 & 1>
- Both capital and small "O" will work
- eg: 0b1011, 0B110000

In [11]:
 # OUTPUT will always in decimal 
#in binary 11 is 3== >>     1+2=3
#2^n, 2^n-1, 2^3, 2^2, 2^1, 2^0=1
#we are using 2 ki power bcoz base is 2

0b11

3

In [9]:
0b111

7

##Octal
- octal means 8
- so the base is also 8
- so 8 digits are used : 0 1 2 3 4 5 6 7
- representation: 0o<combination of 0 to 7>
- Both capital and small "O" will work
- eg: 0o123, 0O4752

In [21]:
#  0o567= 5(8^2) + 6(8^1) + 7(8^0)   = 320 + 48 + 7 = 375
0o567

375

In [25]:
0O123

83

##Hexa

- Hexa means 16
- so the base is also 16
- so 8 digits are used : 0 1 2 3 4 5 6 7 8 9 A  B  C  D  E  F
-                                            10 11 12 13 14 15
- representation: 0x<combination of 0 to 9 & A to F>
- Both capital and small "X" will work
- eg: 0X123, 0xAB752

In [27]:
0xAB752

702290

# 2) $float $

In [31]:
num1= 123.23
type(num1)

float

# $ e $ $Represenatation$

In [37]:
# 10* with 3 zeros = 10 * 1000 = 10000

10e3

10000.0

In [39]:
#10e3 and 10e+3 both are same

10e+3

10000.0

In [45]:
# 1e5 = 1 * 100000

1e5

100000.0

In [47]:
# + means multiply and - means divide
#10e-3 =10/1000 = 1/100 = 0.01
10e-3

0.01

In [53]:
# in ML ========== OUTPUT AS ZEROS
#123e-10 = 123/10000000000 = 0.0000000000123
123e-10  # as it is a 64 bit so it is giving different output

1.23e-08

In [56]:
123e-5

0.00123

# 3) $Strings$

In [59]:
name="python100_$^%&AUTRSJ29791"
type(name)

str

# $doc$ $string$

In [67]:
#when we use triple quote it known as doc string
#doc string is very imp 
#in jupyter notebook we have: markdown option
#in vs code or pycharm, we use: doc string
name2= '''hieee
          how are you'''
name2

'hieee\n          how are you'

In [ ]:
################  data types
1) integer
    #binary
    #octal
    #hexa
2)float
3)String
    #single quotes
    #double quotes
    #triple quotes == doc string == for writing some information
4)boolean

# $4)$ $Boolean$

In [73]:
# True = 1
# False = 0

In [77]:
val = True
type(val)

bool

In [ ]:
name1 = True  #is boolean
name2 = true #both name2 and true are variables #o/p true is not defined before
name3 = "true" #is string

In [85]:
a = 100
b= 200
a=b      #a=200        left= right .... left is always variable and right is always value
b=a      #b=200
a=500    #a=500..........latest
b=a      #b=500
b=900    #b=900........latest
print(a) 
print(b)

500
900

# $5)$ $complex$ $conjugate$

- a + jb  is a complex conjugate
- where a = real number and b= imaginary no.
- j= sqrt(-1)

In [12]:
num3= 3+2j
type(num3)

complex

In [14]:
dir(num3)  # by this we know all the methods perform on particular variable

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [20]:
# if we want the value of only real no.value or imaginary value we use:

print(num3.real)
print(num3.imag)
print(num3.conjugate())   #here + become - and - become +

3.0
2.0
(3-2j)

In [24]:
# method to create complex no.
#put cursor inside bracket and press shift+tab to know parameters
complex(4,10)

(4+10j)

In [28]:
complex()  # by default real and imag value is 0 ===> 0+0j

0j

- whenever yoy see brackets() are known as function or method
- we put values inside brackets are called parameters or arguments

# $type$ $casting$

################### # $type$ $casting$
- in this we change type of a variable into another data type
- num4= 100
- int->float         x= float(num4) #o/p 100.0
- int-> string       x=str(num4)  #o/p '100'
- int-> boolean      x= bool(num4) #o/p True ... other  than zero everything is True... bool(0) o/p False
- int-> complex      x= complex(num4) #o/p (100+0j)


- num6= 100.5
- float->int         x= int(num6) #o/p 100 .... no round off .. only remove decimal value
- float-> string     x= str(num6)  #o/p '100.5'
- float-> boolean     x= bool(num6) # o/p True
- float-> complex    x=complex(num6) #o/p (100.5+0j)

- string1="apple"
- str->int         x= int(string1)    # error
- str->float       x= float(string1)  # error
- str-> boolean    x= bool(string1)   # o/p True.. only False if string1=""... empty string
- str-> complex    x=complex(string1) #o/p error

- string1="10.5"
- str->int         x= int(string1)    # error... bcoz base type is float 
- str->float       x= float(string1)  # 10.5
- str-> boolean    x= bool(string1)   # o/p True.. only False if string1=""... empty string
- str-> complex    x=complex(string1) #o/p (10.5+0j)


- bool8= True
- int(bool8)      #o/p 1
- float(bool8)    #o/p 1.0
- str(bool8)      #o/p 'True'
- complex(bool8)  #o/p (1+0j)

- bool8= False    ################## for False
- int(bool8)      #o/p 0
- float(bool8)    #o/p 0.0
- str(bool8)      #o/p 'False'
- complex(bool8)  #o/p 0j

- com= 100+200j
- int(com)      #o/p error
- float(com)    #o/p error
- str(com)      #o/p "100+200j"
- complex(com)  #o/p True

In [35]:
num=100.9
print(int(num))

100

In [78]:
#to round off
print(round(100.6))
div=200/300
print(div)    # many values after decimal
print(round(div,2))  # helps to round off value till 2nd decimal place

101
0.6666666666666666
0.67

In [41]:
int('10.5')

ValueError: invalid literal for int() with base 10: '100.5'

In [43]:
float("10.5")

10.5

In [45]:
bool("10.5")

True

In [49]:
bool("")

False

In [47]:
complex("10.5")

(10.5+0j)

In [54]:
# to convert 10.5 into 10
st="10.5"
n1= float(st)
n2=int(n1)
n2

10

In [60]:
bool8= True
print(int(bool8))      #o/p 1
print(float(bool8))    #o/p 1.0
print(str(bool8))      #o/p 'True' 
print(complex(bool8))  #o/p (1+0j)

1
1.0
True
(1+0j)

In [64]:
# to add string and separate by end"&"
print("heyy", end=" & ")
print("hiee are the ways to greet")

heyy & hiee are the ways to greet

In [70]:
print("heyy", end="           ")
print("hiee")

heyy           hiee

In [68]:
print("a",1,"465")

a 1 465

In [76]:
#different ways to print string with variables
a= 100
b= 200
c=a+b
print("addition of a and b is :", c)
print("addition of",a,"and", b,"is:", c)
print("The Addition of {} and {} is : {} ".format(a,b,c))

addition of a and b is : 300
addition of 100 and 200 is: 300
The Addition of 100 and 200 is : 300

In [96]:
a= 20/2  #division gives exact value in float type
a

10.0

In [94]:
a=11 % 2 # modulus gives remainder
a

1

In [90]:
a= 5//3  # floor division gives quotient
a

1

# INPUT FROM USER

In [113]:
#to get input from user
input("Enter your name")

Enter your name Aanchal!!!!!!

'Aanchal!!!!!!'

In [121]:
n1=str(input("What is A for"))
n2=input("What is B for")

What is A for apple
What is B for ball

In [123]:
print(n1,n2)   # so here n1 store Apple........ and n2 store Ball

apple ball

In [127]:
num1= input("enter 1st no.")   # type(num1) is str so o/p is 4090
num2= input("enter 2nd no.")
num3= num1 + num2
print("The sum of {} and {} is: {}".format(num1,num2,num3))

enter 1st no. 40
enter 2nd no. 90

The sum of 40 and 90 is: 4090

In [125]:
#to add 2 values taken from user
val1= int(input("Enter first no."))
val2= float(input("Enter second no."))
val3= val1 + val2
print("The sum of {} and {} is: {}".format(val1, val2, val3))

Enter first no. 5
Enter second no. 15

The sum of 5 and 15.0 is: 20.0

## eval 
### is used to accept all type of data types as input.. 
### there will be no change in their data type... and is only for numbers
### mainly used for numbers.... and for str use "hello"

In [131]:
val1= eval(input("Enter first no."))
val2= eval(input("Enter second no."))
val3= val1 + val2
print("The sum of {} and {} is: {}".format(val1, val2, val3))

Enter first no. 5
Enter second no. 5.6

The sum of 5 and 5.6 is: 10.6

In [5]:
val1= eval(input("Enter first no."))   # for string input use "" or '' quotes in eval
val2= eval(input("Enter second no."))
print(val1,val2)

Enter first no. "hello"
Enter second no. 'everyone'

hello everyone

In [9]:
val1= eval(input("Enter first no."))   # for tuple input use direct in eval
val2= eval(input("Enter second no."))
print(val1,val2)

Enter first no. 1,2,3
Enter second no. 4,2,7

(1, 2, 3) (4, 2, 7)

In [11]:
val1= eval(input("Enter first no."))   # for list input use [ ] in eval
val2= eval(input("Enter second no."))   
print(val1,val2)

Enter first no. [1,2,3]
Enter second no. (4,5,6)

[1, 2, 3] (4, 5, 6)